.fa{
    font-family: far;
    color: #e0e0e0;
}

.fah6{
    font-weight: 600;
}

.fardiv{
    top: 0;
}

.en{
    font-family: ubu;
    color: #e0e0e0;
    font-weight: 500;
}

.es{
    font-family: spa;
}